.config/*
.config/nvim/backups
.config/nvim/lazy-lock.json
.bazelrc
.config/karabiner/automatic_backups
!.config/nvim
!.config/alacritty
!.config/karabiner
**/node_modules/**
*.class
*.dll
*.exe
*.log
*.o
*.pyc
*.so
.*.sw?
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.env
.git/**
.python-version
Icon?
Thumbs.db
ehthumbs.db
id_rsa
id_ed25519
Brewfile.lock.json
