[core]
  excludesfile = ~/.gitignore
  editor = /usr/bin/vim
[user]
  name = J Evans
  email = 10482250+jayeve@users.noreply.github.com
[alias]
  recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
