autojump
axel
bash-completion
build-essential
cargo
cmake
coreutils
curl
diffstat
dnsutils
fio
flake8
gawk
gh
git
httpie
iftop
kubectl
less
masscan
mosh
net-tools
netcat
nethogs
nload
nmap
pkg-config
powerline
pv
pylint
python3-pip
siege
subversion
tcpdump
tig
tmux
tree
vim
vim-gtk3
vim-nox
zsh-antigen
