tmux
ripgrep
autojump
less
vim
vim-gtk3
vim-nox
git
tig
gh
subversion
diffstat
python3-pip
cargo
curl
axel
httpie
pkg-config
cmake
bash-completion
build-essential
tcpdump
dnsutils
net-tools
iftop
nethogs
mosh
netcat
nmap
masscan
fio
pv
siege
nload
wrk
