axel
bash-completion
bat
build-essential
cargo
cmake
coreutils
curl
diffstat
dnsutils
fd-find
fio
flake8
gawk
gh
git
html2text
httpie
iftop
kubectl
less
masscan
mosh
net-tools
netcat
nethogs
nload
nmap
pkg-config
powerline
pv
pylint
python3-pip
ripgrep
siege
subversion
tcpdump
tig
tldr
tmux
tree
vim
vim-gtk3
vim-nox
zoxide
zsh-antigen
